*{
    background-color: black;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: white;
}
div.box{
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    height: 900px;
    margin: auto ;
}
.card{
width: calc((100% / 3) - 6px);
height: 400px;
border: 1px solid white;
justify-content: center;
align-items: center;
margin: auto;
}